---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend
  labels:
    app: backend
spec:
  replicas: 2
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
        - name: backend
          image: healthcarepatientportaldevcusregistry.azurecr.io/backend:latest
          ports:
            - containerPort: 8080
          env:
            - name: spring.datasource.url
              valueFrom:
                configMapKeyRef:
                  name: mysql-config
                  key: spring.datasource.url
            - name: spring.datasource.username
              valueFrom:
                configMapKeyRef:
                  name: mysql-config
                  key: spring.datasource.username
            - name: spring.datasource.password
              valueFrom:
                secretKeyRef:
                  name: mysql-secret
                  key: mysql-password
---
apiVersion: v1
kind: Secret
metadata:
  name: mysql-secret
type: Opaque
stringData:
  mysql-password: "YourStrongPassword123!"
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: mysql-config
data:
  spring.datasource.url: "jdbc:mysql://healthcare-patient-portal-dev-cus-mysql.mysql.database.azure.com:3306/healthcaredb?useSSL=true&requireSSL=true&verifyServerCertificate=false"
  spring.datasource.username: "dbuser"

